html {
    background-color: #6c683d;
}

.rounded-corners {
    width: 100px;
}
  
.rounded-corners {
    border-radius: 6px;
}
  
.headerapp {
    text-align: center;
    margin: 20px 260px 0px 260px;
    padding: 1em 1em 1em 0px;
    border-radius: 6px;
    background-color: #35372a;  
    border: solid white 1px;
}
  
.h1-header {
    font-family: "Oxygen", sans-serif;
    color: white;
    font-size: 3em;
    font-weight: 900;
}
